
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>HTML</title>
  </head>
  <body>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script>  
 <script src="vue.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<!-- <script src="https://rawgit.com/vitmalina/w2ui/master/dist/w2ui.min.js'"></script> --> 
<script   src="vueComponents.js"></script> 
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
<link rel="stylesheet" href="example.css">
<div id="app">
    <!-- <multiselect 
      v-model="value" 
      :options="options"
      :multiple="true"
      track-by="library"
      :custom-label="customLabel"
      > <button-counter></button-counter>
    </multiselect> -->
    <pre>{{ str }}   </pre>
    <H6  >--text:{{ item.textEx }} --  </H6>
      <H6  >--number:{{ item.numberEx}} --  </H6> 
      <H6  >--date:{{ item.dateEx}} --  </H6>
      <H6  >--combo:{{ item.lan}} --  </H6>  
    <kf-text text="textEx" v-model="item.textEx" req :rules="[rules.counter]" ></kf-text>
    <kf-text text="textEx" v-model="item.textEx" req :rules="[rules.counter,rules.phone]" ></kf-text> 
    <kf-num text="number" v-model="item.numberEx" req requretext="Error" :rules="[rules.fieldsNumb]"  ></kf-num> 
    <kf-date type="date" text="date"   v-model="item.dateEx" req ></kf-date> 
    <kf-combo text="combo"   v-model="item.lan"  :items="options" req></kf-combo>          
  </div>
 
  
  <script>
 var date= new Date()
 console .log(date)  
var string = numeral(1054563450000).format('0,0.00').replaceAll(',',' ');

  
    // register globally
     // Vue.component('multiselect', Multiselect)
//const app = Vue.createApp({    
 let vue_=  new Vue({
    el: "#app",
	// components: {
  //  	Multiselect: window.VueMultiselect.default,
	// },
	data: {
    str:string,
  	value: { language: 'JavaScript', library: 'Vue-Multiselect' },
  	options: [
    	{ id:1,	name: 'JavaScript', library: 'Vue.js' },
      { id:2, name: 'C#', library: 'Vue-Multiselect' },
      { id:3, name: 'Java ', library: 'Vuelidate' }
    ],
	  item:{
     textEx: 'Vue.js',
     numberEx: 3000000.00,
     dateEx: '2023-12-14',
     lan:2
    }
    , 
      rules: {
        required: (value) => !!value || "Required.",
        counter: (value) => (value && value.length <= 10) || "Max 10 characters",
        fieldsNumb: (value) => (!value || value && value <= 5) || "Max 5 ",
        phone:(value) => {
           if(value)
           {
               value=value.replaceAll(" ").replaceAll("-")
               const res = /\d{8,10}/.test(value)
               if(!res) return "telephone number mast conatins only number or white space"; 
           }
           return true;
        },
       // phone:(value) => (!value||/^\\s?[\\s(]?\\s?\\d[\\s-]?\\d[\\s-]?\\d[\\s\\-)]?\\s?\\d[\\s-]?\\d[\\s-]?\\d[\\s-]?\\d[\\s-]?\\d[\\s-]?\\d[\\s-]?\\d[\\s]?$|^[\\+]?\\d\\s?[\\s(]?\\s?\\d[\\s-]?\\s?\\d[\\s-]?\\d[\\s-]?\\d[\\s-]?\\d[\\s-]?\\d[\\s-]?\\d[\\s-]?/.test(value))||"The valid number must contain 10 numbers +34 (000) 000 00 or 8 numbers (000) 000 00" 
    },
  },
  methods: {
  	customLabel (option) {
      return `${option.library} - ${option.language}`
    }
  },

  mounted: function () {
    var articles= this.$children
    articles.forEach(x => {
      console.log(x.valid)
    });
  }
});//.$mount('#app')
  </script>
   </body>
   </html>