.flex-row{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    text-align: start; 
  /* background-color: aqua; 
    border: solid 1px;
 */
}
.title-col{
  width:100px
}
.value-col{
  width:200px
}

.inp{
  height:30px;
  margin:3px
}
.invalid{
  border: red solid 2px;
}

.tab-button {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}
.tab-button:hover {
  background: #e0e0e0;
}
.tab-button.active {
  background: #e0e0e0;
}
.tab {
  border: 1px solid #ccc;
  padding: 10px;
}